[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=XFCE settings
Comment=Changing the XFCE4 look and feel
Exec=/app/xfce_settings.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
